body{
	background-color: #FFFFFF;
	/*background-image: url(../imagenes/img3.PNG);*/
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	
}

#header {
		background: #1c1c1c;
		color: #d5d5d5;
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: left;
		top: 0;
		width: 100%;
		z-index: 10001;
	}
		#header h1 {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 800;
			font-size: .99em;
		}

#banner {
		background-color: #e5474b;
		color: #f2a3a5;
		padding: 20em 0 15em 0;
		background-color: #0c0c0c;
		background-image: url("../imagenes/img2.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: center;
		position: relative;
		z-index: 9999;
	}

		#banner h2 {
			color: #000000;
			font-size: 2em;
			margin: 0 0 1em 0;
			padding: 0;
			letter-spacing: 3px;
			font-weight: 700;
		}
	#one {
		padding: 6em 0 4em 0;
	}

		@media screen and (max-width: 980px) {

			#one {
				padding: 8em 0 9em 0;
			}

		}

